* {
    font-family: monospace;
}

/* Path: src/resources/css/index.css */
body {
    background-color: #353434;
    color: #ffffff;
    flex-flow: column;
}

p {
    font-size: 1.0em;
}

h4 {
    color: #a1a1a1;
}

h1 {
    font-size: 2.0em;
    /* justify content center */
    display: flex;
    justify-content: center;
}

#skills {
    display: flex;
    flex-flow: row wrap;
}

#languages {
    padding-right: 10px;
}